:root {
  --color-primary: #095590;
  --color-secundary: #59a5e3;
  --color-letra-light: #59a5e3;
  --color-letra-primary: #095590;
  --color-border: #ffffff;
  --color-fondo: #ffffff;
  --color-letra-secundary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

/* estilo de numero */

.header {
  z-index: 10;
  height: 100px;
  display: grid;
  margin: 0 auto;
  max-width: 1248px;
  position: relative;
  grid-template-columns: auto 1fr auto;
}

.button-menu {
  display: none;
  border: 1px solid var(--color-secundary);
  background-color: var(--color-fondo);
  color: var(--color-secundary);
  margin: auto 15px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.logo-container {
  width: 100px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.logo-title {
  font-size: 21px;
  font-weight: 700;
  color: var(--color-letra-primary);
  text-transform: uppercase;
}

.logo-description {
  font-size: 17px;
  text-transform: capitalize;
  color: var(--color-letra-primary);
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-header ul {
  display: flex;
  list-style: none;
}

.menu-link {
  margin: 0 8px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 7px;
  padding: 10px 15px;
  color: var(--color-letra-primary);
}

.menu-link:active {
  transform: scale(0.95);
}

.icon-language {
  margin: auto;
}

.border-link {
  border: 1px solid var(--color-border);
}

/* estilo de home */

.container {
  z-index: 1;
  margin: 0 auto;
  max-width: 1124px;
  position: relative;
}

.container-image {
  top: 0;
  right: 0;
  width: 550px;
  height: 700px;
  overflow: hidden;
  position: absolute;
}

.image-home {
  position: absolute;
  left: 0;
  top: -680.554931640625px;
  width: 1906px;
  height: 1450px;
}

.hero-home {
  z-index: 5;
  height: 510px;
  display: grid;
  position: relative;
  padding: 0 15px;
  grid-template-columns: 60% 40%;
}

.hero-left {
  display: grid;
  padding: 80px 0px 10px;
  grid-template-rows: 1fr .8fr;
}

.hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image-car {
  width: 100%;
  object-fit: contain;
}

.hero-message {
  display: grid;
}

.hero-buttons {
  padding: 30px 0;
}

.button-primary {
  border: 1px solid var(--color-primary);
  background-color: var(--color-fondo);
  color: var(--color-primary);
  cursor: pointer;
  min-width: 120px;
  padding: 12px 30px;
  margin-top: 30px;
  margin-right: 10px;
  border-radius: 5px;
}

.button-auto {
  margin: 0 auto 30px;
  display: flex;
}

.button-light {
  color: var(--color-letra-secundary);
  background-color: var(--color-secundary);
  border: 0;
}

.button-primary:active {
  transform: scale(0.95);
}

/* review home */

.review-home {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: center;
}

.review-home-v2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews-container-image {
  width: 100%;
  height: 100px;
  max-width: 120px;
  overflow: hidden;
  position: relative;
}

.reviews-image {
  top: -20px;
  left: -35px;
  width: 190px;
  position: relative;
}

.reviews-image-v2 {
  width: 120px;
  margin-right: 5px;
}

/* service home */

.service-home {
  display: grid;
}

.carousel-services {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  display: flex;
  grid-gap: 30px;
  flex-wrap: wrap;
  margin: 80px 10px;
  justify-content: center;
}

.item-service {
  opacity: 1;
  display: grid;
  min-width: 200px;
  max-width: 200px;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  background: var(--color-fondo);
  grid-template-rows: auto 1fr auto;
  box-shadow: -11px -1px 34px #00000012;
}

.service-image {
  position: absolute;
  bottom: 0;
  right: -30px;
  width: 50%;
  object-fit: contain;
}

.item-service:nth-child(4) img {
  bottom: 22px;
}

/* chat */

.container-chat {
  position: fixed;
  z-index: 100;
  right: 30px;
  bottom: 30px;
}

.chat-button {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid #eee;
  box-shadow: -11px -1px 34px #00000012;
  background-color: var(--color-fondo);
}

.chat-text {
  display: none;
  padding: 0 10px;
  align-items: flex-end;
  flex-direction: column;
}

.chat-button:hover .chat-text {
  display: flex;
}


/* text */

.text-white {
  color: var(--color-letra-secundary);
}

.text-title {
  font-size: 1.5em;
  padding: 8px 0 0;
  font-weight: 700;
  color: var(--color-letra-primary);
}

.text-message {
  font-size: 1em;
  font-weight: 500;
  color: var(--color-letra-primary);
}

.text-light {
  color: var(--color-letra-light);
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: .8em;
}

.text-large {
  font-size: 2.6em;
}

.container-transparent {
  display: none;
}

@media screen and (max-width: 1050px) {
  .container-transparent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    display: flex;
    background-color: rgba(255, 255, 255, 0.05);
  }
  .button-menu {
    display: flex;
  }
  .logo-container {
    margin: 0 auto;
  }
  .button-menu:active {
    transform: scale(0.95);
  }
  .container-image {
    width: 50%;
  }
  .menu-header {
    top: 65px;
    left: 53px;
    z-index: 51;
    display: none;
    position: absolute;
    border-radius: 7px;
    justify-content: flex-start;
    background: var(--color-fondo);
    border: 1px solid var(--color-secundary);
  }
  .menu-header ul {
    flex-direction: column;
  }
  .menu-header li {
    color: var(--color-letra-primary);
    margin: 0;
  }
  .active {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .hero-home {
    grid-template-columns: 1fr;
    height: inherit;
  }
  .menu-link {
    color: var(--color-primary);
  }
  .hero-left {
    text-align: center;
    padding: 30px 0 20px;
  }
  .hero-image-car {
    width: 300px;
  }
  .service-home {
    padding: 20px 0;
  }
  .service-home:nth-child(2) span {
    padding: 10px 0;
  }
  .review-home {
    flex-direction: column;
  }
  .container-image {
    display: none;
  }
}
